<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.print.parkingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/park"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/park"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParkingApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.Facturer"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.EditCarActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.NewCarActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme.ParkingApp" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>